<a class="navbar-brand" >miniScoreLib</a>
<form>
    <label for="composer-field">Composer</label>
    <input type="text" name="composer"
        class="form-control" id="composer-field" placeholder="i.e. Byrd">
    <label for="voicing-field">Voicing</label>
    <input type="text" name="voicing"
        class="form-control" id="voicing-field" placeholder="i.e. SATB">
    <button type="submit" name="button">Search</button>

    <div class="search-result"></div>
    <div class="search-result"></div>
    <div class="search-result"></div>
</form>
