<a class="navbar-brand" >miniScoreLib</a>
<form>
    <label for="composer-field">Composer</label>
    <input type="text" name="composer"
        class="form-control" id="composer-field" placeholder="i.e. Byrd">
    <label for="voicing-field">Voicing</label>
    <input type="text" name="voicing"
        class="form-control" id="voicing-field" placeholder="i.e. SATB">
    <button type="submit" name="button">Search</button>

    {% for score in scores %}
        <div class="scorelib-search-result">
            {{ score.title }} - {{ score.composer }} ({{ score.voicing }})
        </div>
    {% endfor %}
</form>
